.site-header {
  width: Hug (1, 440px) px;
  height: Hug (91.18px) px;
  top: 5px;
  padding: 16px 170px 16px 170px;
  gap: 0px;
  opacity: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px #0000000d;
}

.sitenav-list {
  list-style: none;
}

.sitenav-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 15.23px;
  text-align: left;
  text-decoration: none;
  color: #000;
}

.main-link {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #ffffff;
  background: #ff7500;
  text-decoration: none;
}

.hero {
  width: 1440px;
  height: 488px;
  top: 97px;
  gap: 0px;
  opacity: 0px;
  background: #252420;
  color: #ffffff;
}
.hero-content {
  width: 387px;
  height: 328px;
  top: 177px;
  left: 170px;
  gap: 16px;
  opacity: 0px;
}

.img-hero {
  width: 610px;
  height: 610px;
}

.orange-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-heading {
  font-family: Roboto Condensed;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.5px;
  text-align: left;
}

.hero-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}
.features-heading {
  width: 435px;
  height: 172px;
  top: 821px;
  left: 170px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto Condensed;
  font-size: 72px;
  font-weight: 700;
  line-height: 86.4px;
  letter-spacing: 0.5px;
  text-align: left;
}
.feature {
  width: Fixed (340px) px;
  height: Hug (245px) px;
  gap: 32px;
  opacity: 0px;
}

.feature-icon-wrapper {
  width: 100px;
  height: 100px;
  background: #ff750033;
}

.feature-titile {
  width: 214px;
  height: 29px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.5px;
  text-align: left;
}

.feature-info {
  width: 314px;
  height: 72px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.promo {
  width: 1100px;
  height: 419px;
  top: 1640px;
  left: 170px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  background: #252420;
  color: #ffffff;
}
.promo-content {
  width: 440px;
  height: 291px;
  top: 1704px;
  left: 234px;
  gap: 0px;
  opacity: 0px;
}

.promo-heading {
  font-family: Roboto Condensed;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;
}

.promo-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.promo-highlight {
  color: #ff7500;
}

.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}
.site-footer {
  background: #f8f8f8;
}
.site-footer ul {
  list-style: none;
}

.site-footer-divider {
  background: #25242080;
  height: 2px;
}

.site-footer-link-list {
    width: 224px;
}

.site-footer-link-list a {
  text-decoration: none;
  color: #252420;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
}
